<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v5.0" sku=".NetFramework,Version=v5.0"/>
	</startup>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="workstation id=budgetdb.mssql.somee.com;packet size=4096;user id=budgetadmin;pwd=budget123;data source=budgetdb.mssql.somee.com;persist security info=False;initial catalog=budgetdb"
			 providerName="System.Data.SqlClient"
		/>
		<!--providername="System.Data.EntityClient"-->
	</connectionStrings>
</configuration>